*.yoda
*.hepmc
plots/

*.lo
*.f90
*.dvi
*.[0-9]
*.t[0-9]
*.ps
*.tex
*.vg
*.phs
*.mp
*.mpx
*.ltp
*.pdf
*.olc
*.olp
*.evx
*.lhe
.libs/
Generated_Loops/
*olp_modules/
golem.in
Gosam_Makefile
include/
*.la
*.makefile
*.dat

main02
Makefile.inc
