*.yoda
*.hepmc
plots/
noanalytic/

*.lo
*.f90
*.dvi
*.[0-9]
*.t[0-9]
*.ps
*.tex
*.vg
*.phs
*.mp
*.mpx
*.ltp
*.pdf
*.olc
*.olp
*.evx
*.lhe
.libs/
*diags-fmf.t*
Generated_Loops/
*olp_modules/
*.olp_parameters
golem.in
Gosam_Makefile
include/
*.la
*.makefile
*.dat

core
main02
Makefile.inc
whizard_uu_lo
whizard_uu_powheg
*/whizard/*-[0-9]*/
.sconsign.dblite
*/rivet/*_powheg/
*/rivet/*_nlo/
*/rivet/*_lo/
*/rivet/show-MCerrors/
